 
 html{
    font-family: Next, sans-serif;

 }
 :root{
    --main-purple: #4e3797
 }
 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) { 
    .main-title{
       
        font-weight: 700;
        font-size: 3.75em;
    }
    
     
    .begin-button{
        font-size: 3em;
        border-radius: 25px;
        background-color: #54bbbd;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
    .hover-bg-grey:hover{
        background-color: rgb(234, 234, 234);
    }
   
    .nav-link{
        font-size: 1.2em;
      
    }
    .nav-link {
        color: rgb(166, 166, 166) !important;
    }
    .nav-link svg{
        margin-left: 1.5rem;
    }
   
  
    .bootcamps-container{
        background-color: #f1f4f7;
        
    }

    .card-bootcamp svg{
        margin-left: 0.5rem;
    }
    .card-bootcamp {
      border-right: 15px solid #90eb90c7 !important;
        border-radius: 10px !important;
    }

    .bootcamp{

    }

    .bootcamp-button{
        background-color: none;
        color: var(--main-purple);
        border: 2px solid var(--main-purple)

    }

    .bootcamp-button:hover{
        background-color: var(--main-purple);
        color: white;
      
        
    }

    .bootcamp-title{
        color: var(--main-purple);

    }
    .card-bootcamp-title{
        font-size: 1.4em;
     
    }



    .card-talk{
        
    }

    .card-class{
        
    }
  
    .card-talk-title{
         font-size: 1em;
    }

    .card-class-title{
         font-size: 1em;
    } 

    .card-bootcamp-subtitle{
         font-size: 0.7em;
         color: rgb(23, 213, 90);
    }

    .card-talk-title-subtitle{
        font-size: 1em; 
    }

    .card-class-title-subtitle{
         font-size: 1em;
    } 

}

 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) { 

    .main-title{
       
        font-weight: 700;
        font-size: 6em;
    }
    
     
    .begin-button{
        font-size: 3em;
        border-radius: 45px;
        font-weight: 700;
        background-color: #54bbbd;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;

    }
  }
 
 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) {

    
   
    .main-title{
       
        font-weight: 700;
        font-size: 6em;
    }
    
     
    .begin-button{
        font-size: 3em;
        border-radius: 45px;
        font-weight: 700;
        background-color: #54bbbd;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;

    }

    .hover-bg-grey:hover{
       background-color: rgba(128, 128, 128, 0);
       
    }
 
 }

 
.video-container{
    position: relative;
    pointer-events: none;
 
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,170,194,0.6783963585434174) 0%, rgba(201,0,255,0.583158263305322) 98%);
   
}

.bg-video{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    height:100vh;
}

/* .logo{
    filter: invert(43%) sepia(231%) saturate(0%) hue-rotate(256deg) brightness(118%) contrast(330%)
} */