.video-container{
    position: relative;
    pointer-events: none;
    padding-bottom: 56.25%;
    height: 0;
}

.bg-video{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    right: 0px;
}