
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .about-us-title{
        font-size: 4em;
        color: var(--main-purple);
        font-weight: 700;
    }
   .about-us-paragraph{
    font-size: 1.7em;
   }

    .offer-section-images{
    width: 20%;
  }

  .about-size{
    width:16em;
  }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
   
   
     .offer-section-images{
    width: 20%;
  }
  .about-size{
    width:16em;
  }

  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {

     .offer-section-images{
    width: 20%;
  }

    .about-size{
        width:16em;
    }

  }
  
  .bg-image-container {
    display: flex;
    background: url("aboutImage2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  

  
  .about-card{
    border: 0px solid black;

  }

  .about-card .card-title{
    font-size: 1.5em;
    
  }

  .about-card .card-text{
    font-size: 2.5em;
    font-weight: 700;
    
  }

  .about-card .card-subtext{
    font-size: 1em;

    
  }


  .offer-section-images{
    width: 20%;
  }




 